body {
  font-family: "Quicksand", sans-serif;
}

.content {
  overflow: hidden;
}

@media (min-width: 650px) {
  .content {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left: 250px;
    clear: none;
  }
}

