.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.sidebar {
  overflow: hidden;
  backface-visibility: hidden;
}
.sidebar-inner {
  padding: 40px 0 10px;
}
.sidebar-header {
  background: #fff;
}
.sidebar-doc-title {
  line-height: 1.3;
  margin: 0 0 30px;
  text-align: right;
  font-size: 20px;
  font-weight: normal;
  color: #19a3d1;
  a {
    text-decoration: none;
    color: inherit;
  }
}
.sidebar-nav {
  margin: 30px 0;
}
.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  > .sidebar-menu-item {
    line-height: 1.3;
    color: #222222;
    font-size: 14px;
    display: block;
    > a {
      display: block;
      padding: 7px 0 7px 5px;
      border-bottom: 1px solid #e3e3e3;
      text-decoration: none;
      font-weight: bold;
      color: #888;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      &:hover {
        color: #19a3d1;
      }
      > {
        .sidebar-ref {
          float: left;
          margin-right: 10px;
          color: #19a3d1;
        }
        .sidebar-name {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }
    &.sidebar-active > a {
      border-bottom-color: #19a3d1;
      color: #222222;
    }
  }
}
.sidebar-menu-child {
  display: none;
  margin: 0;
  padding: 5px 10px;
  list-style-type: none;
  border-bottom: 1px solid #e3e3e3;
  > .sidebar-menu-item {
    line-height: 1.3;
    color: #222222;
    font-size: 12px;
    > a {
      display: block;
      padding: 5px 0 6px 5px;
      text-decoration: none;
      color: #888;
      &:hover {
        color: #19a3d1;
      }
      > {
        .sidebar-ref {
          float: left;
          margin-right: 10px;
          color: #19a3d1;
        }
        .sidebar-name {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }
    &.sidebar-active > a {
      color: #222222;
    }
  }
}

.sidebar-title {
  line-height: 1.3;
  color: #222222;
  margin: 0 0 10px;
  font-weight: bold;
  .sidebar-ref {
    margin-right: 0.2em;
    color: #19a3d1;
  }
}

@media (min-width: 650px) {
    .sidebar.sidebar-fixed, .sidebar {
        height: 100% !important;
        width: 275px;
        position: fixed;
        padding: 2.5rem 2rem;
        overflow-y: auto !important;
    }
}

@media (min-width: 1230px) {
  .sidebar {
    float: left;
    width: 220px;
    overflow: hidden;
    &.sidebar-fixed {
      position: fixed;
      top: 0;
      .sidebar-inner {
        padding-top: 44px;
      }
      .sidebar-nav {
        /* Top margin (44px), logo height (68px), nav top padding (30px). */
        max-height: calc(100vh - 44px - 68px - 30px);
        /* Make the container scrollable. */
        overflow-y: auto;
        padding-right: 8px;
        backface-visibility: hidden;
      }
    }
  }
}