$bp-xxsm: 30em;
$bp-xsm: 40em;
$bp-sm: 55em;
$bp-md: 64em;
$bp-lg: 75em;

.wrapper {
  margin-left: 0;
  position: relative;
  max-width: 1440px;
  padding: 0;
}

.content {
  clear: both;

  //   @include breakpoint($bp-xsm) {
  //     transition: all 0.5s ease-in-out;
  //     margin: 0 0 0 325px;
  //     clear: none;
  //   }
}

.sidebar-collapsed + .content {
  //   @include breakpoint($bp-xsm) {
  //     transition: all 0.5s ease-in-out;
  //   }
}

// Sidebar
.sidebar.fixed,
.sidebar {
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  z-index: 999;
  float: left;
  height: 100%;

  .sidebar-inner {
    text-decoration: none;
    padding-top: 0;
  }

  //   @include breakpoint($bp-xsm) {
  //     height: 100% !important;
  //     width: 275px;
  //     position: fixed;
  //     overflow-y: auto !important; // needed as list grows, for wide but short screens

  //     .nav {
  //       max-height: 100%;
  //       overflow-y: auto !important;
  //       clear: both;
  //       width: 100%;
  //     }
  //   }
}

.header {
  background: transparent;

  .site-logo {
    float: left;
    width: 50%;
    max-width: 150px;
    margin-top: 0;

    // @include breakpoint($bp-xsm) {
    //   width: 100%;
    //   max-width: 215px;
    //   margin-bottom: 0;
    // }
  }
}

// Sidebar toggle settings
.sidebar,
.nav-btn {
  transition: all 0.5s ease-in-out;
  overflow: visible !important; // needed to override default KSS node styling
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-btn {
  display: none;

  //   @include breakpoint($bp-xsm) {
  //     display: block;
  //     position: absolute;
  //     width: 32px;
  //     height: 32px;
  //     background: url("#{$asset-path}/chevron_left_round_red.png") no-repeat;
  //     right: 10px;
  //     top: 2px;
  //     background-size: 32px;
  //     border: 0;
  //     box-shadow: none;
  //     background-color: transparent;
  //     min-height: 0;

  //     &:hover,
  //     &:focus,
  //     &:active {
  //       border: 0;
  //       box-shadow: none;
  //       background-color: transparent;
  //       cursor: pointer;
  //       box-shadow: 0px 3px 15px $color-manatee;
  //       border-radius: 75%;
  //     }
  //   }
}

.sidebar-collapsed {
  //   @include breakpoint($bp-xsm) {
  //     transform: translateX(-82%);
  //     overflow-y: hidden !important;

  //     .kss-menu,
  //     .kss-header {
  //       opacity: 0;
  //       visibility: hidden;
  //     }
  //   }
}

.sidebar.fixed.sidebar-collapsed,
.sidebar-collapsed {
  //   @include breakpoint($bp-xsm) {
  //     overflow-y: hidden !important;
  //   }
}

.sidebar-collapsed .nav-btn {
  transform: translateX(100%);
  background-size: 32px;
  right: 40px;
  top: 2px;
  background-position: 50%;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  min-height: 0;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 3px 15px #000;
    border-radius: 75%;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; // *
  width: 1px;
  // *
  // ensures that words don't get
  // combined together by ATs
}

// back to top styling
.back-to-top {
  background-color: transparent;
  bottom: 12px;
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  right: 9px;
  transform: translateY(130%);
  transition: transform 0.5s ease-in-out;
  background-repeat: no-repeat;
  background-size: 42px;
  border-radius: 50%;
  background-position: 50%;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    box-shadow: none;
    cursor: pointer;
    box-shadow: 0px 3px 15px;
    border-radius: 50%;
  }
}

.show-back-to-top .back-to-top {
  transform: translateY(0%);
}
