.wrapper {
  //   max-width: 1280px;
  //   margin: 0 auto;
  //   padding: 0 10px;

  margin-left: 0;
  position: relative;
  max-width: 1440px;
  padding: 0;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}
