<div class="row">
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
</div>
<div class="row">
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
    <div class="col col-md-4">
        {{#> cards/basic-card}}
        {{/cards/basic-card}}
    </div>
</div>