<h3><a href="#ref-cards-basic">Basic Card</a></h3>
<section class="card">
  <div class="card__link-wrapper">
    <div class="card__image">
        <img src="http://a11y-style-guide.com/assets/angry-pepper.jpg" alt="Alt" />
    </div>
    <div class="card__title">
      <a target="_blank" href="{{ link }}" class="card__title--link">More about angry pepper</a>
    </div>
  </div>
</section>