<section class="cards cards--slideout section">
  <div class="l-center">
    <div class="cards__content">
      <div class="cards__column">
        <button id="flip1" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
               <img sizes="(max-width: 479px) 280px,
                        (max-width: 680px) 540px,
                        (max-width: 768px) 660px,
                        (max-width: 1366px) 1024px,
                        1920px"
                                srcset="http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg 479w,
                        http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg 549w,
                        http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg 768w,
                        http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg 1024w,
                        http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg 1366w,
                        http://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg"
                                alt="" />
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths are carnivores.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>False!<br>Sloths mainly eat the tree buds, new shoots, fruit and leaves, of the Cecropia tree.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip2" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img sizes="(max-width: 479px) 280px,
                        (max-width: 680px) 540px,
                        (max-width: 768px) 660px,
                        (max-width: 1366px) 1024px,
                        1920px"
                                srcset="http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg 479w,
                        http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg 549w,
                        http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg 768w,
                        http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg 1024w,
                        http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg 1366w,
                        http://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg"
                                alt="" />
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths live in trees.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths are tree-dwelling animals, they are found in the jungles of Central and South America.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip3" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img sizes="(max-width: 479px) 280px,
                        (max-width: 680px) 540px,
                        (max-width: 768px) 660px,
                        (max-width: 1366px) 1024px,
                        1920px"
                                srcset="http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg 479w,
                        http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg 549w,
                        http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg 768w,
                        http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg 1024w,
                        http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg 1366w,
                        http://www.geckoeslodge.com/2013/wp-content/uploads/2015/04/Sloth-Geckoes-Lodge-Puerto-Viejo-Costa-Rica.jpg"
                                alt="" />
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths have a short lifespan.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>False!<br>Sloths can live up to forty years in the wild.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip4" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img sizes="(max-width: 479px) 280px,
                        (max-width: 680px) 540px,
                        (max-width: 768px) 660px,
                        (max-width: 1366px) 1024px,
                        1920px"
                                srcset="http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg 479w,
                        http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg 549w,
                        http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg 768w,
                        http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg 1024w,
                        http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg 1366w,
                        http://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg"
                                alt="" />
            </div>
            <div>
              <div class="cards__item-title">True or False:<br>Sloths are related to armadillos.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>True!<br>Sloths belong to an ancient group of mammals called Xenarthra, which evolved in isolation around eighty million years ago.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>