{{#extend "wrapper"}}
{{#content "article" mode="prepend"}}
    <h1>Cards</h1>

    <h4><a href="#ref-cards-basic">Basic Card</a></h4>
    {{#> cards/basic-card}}
    {{/cards/basic-card}}

    <h4><a href="#ref-cards-basic-grid">Basic Card Grid</a></h4>
    {{#> cards/basic-card-grid}}
    {{/cards/basic-card-grid}}

    <h4><a href="#ref-cards-bio-details">Bio Detail Card</a></h4>
    {{#> cards/bio-detail-card}}
    {{/cards/bio-detail-card}}
{{/content}}
{{/extend}}