{{#extend "wrapper"}}
{{#content "article" mode="prepend"}}
    <h1>General</h1>

   
    <section>
        <h4><a href="#ref-general-buttons">Buttons</a></h4>
        <div class="description">
            <ul>
                <li>A <code>&lt;button&gt;</code> tag does not need anything special to work. Use <code>&lt;button&gt;</code> when you can, but it is possible to use other elements as long as you add <code>role="button"</code> and add JavaScript to replicate the button functionality.</li>
                <li>Just like links, you can add <code>class="visuallyhidden"</code> with descriptive text to give more context to the button's purpose.</li>
                <li>If a button contains an <code>&lt;img&gt;</code> element, make sure to set its <code>alt</code> attribute. If it contains an icon, use <code>aria-label</code> to describe the icon instead.</li>
                <li>You can use <code>&lt;input type="image"&gt;</code> to make a graphical button. It takes a <code>src</code> and <code>alt</code> attribute just like traditional images.</li>
                <li>Button states are important, not just button styling! If you are only toggling classes to visually manage state of your components, you are likely not appropriately conveying that state to users of assistive technologies.</li>
            </ul>

            <section data-action="aria-toggle" class="atblock">
                <h3 class="atblock__title"><a href="#button_res" class="atblock__title__trigger" role="button" aria-controls="button_res" aria-expanded="false">Resources</a></h3>
                
                <div id="button_res" class="atblock__panel" aria-hidden="true">
                    <ul>
                        <li><a href="https://www.deque.com/blog/accessible-aria-buttons" target="_blank">Building Accessible Buttons with ARIA</a></li>
                        <li><a href="https://css-tricks.com/user-facing-state/" target="_blank">User Facing State</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role" target="_blank">Using the button role</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria-practices-1.1/examples/button/button.html" target="_blank">W3C Button Examples</a></li>
                    </ul>
                </div>
            </section>
            <section data-action="aria-toggle" class="atblock">
                <h3 class="atblock__title"><a href="#button_guide" class="atblock__title__trigger" role="button" aria-controls="button_guide" aria-expanded="false">WCAG 2.0 Guidelines</a></h3>
                <div id="button_guide" class="atblock__panel guidelines" aria-hidden="true">
                     <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG20/quickref/?showtechniques=131#text-equiv-all" target="_blank">1.1.1 Non-text Content</a> - All non-text content that is presented to the user has a text alternative that serves the equivalent purpose (some exceptions). (Level A)<br><br><strong>Note:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it does not need text alternatives.</p></li>
                    </ul>
                </div>
            </section>
        </div>

        <div class="modifier-block">    
            <div class="modifier modifier-original">
                <div class="modifier-example">
                <section class="buttons-section">
                    <button class="button" id="button_state" aria-pressed="false" aria-describedby="button-example">Button</button>
                    <span id="button-example" class="visuallyhidden">Example button markup</span>

                    <button type="button" class="button-icon heart button--outline" id="button_like" aria-pressed="false" aria-describedby="like-button-example" aria-label="heart icon">Like</button>
                    <span id="like-button-example" class="visuallyhidden">Like example button markup</span>

                    <button class="button-icon wheelchair" 
                        id="button_all" 
                        aria-pressed="false" 
                        aria-describedby="a11y-button-example" 
                        aria-label="wheelchair icon">
                        <span class="visuallyhidden">all the things.</span>
                        <span id="button-example" class="visuallyhidden">example button markup</span>
                    </button>

                    <input type="image" class="magnifyingglass" id="button_search" aria-pressed="false" src="../assets/searchicon.png" alt="Search">
                </section>
            </div>
        </div>
    </section>
{{/content}}
{{/extend}}