{{#extend "wrapper"}}
{{#content "article" mode="prepend"}}
<h1>Grid</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-dark">
            <h2>col 12</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 bg-dark">
            <h2>col 6</h2>
        </div>
        <div class="col-6 bg-dark">
            <h2>col 6</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4 bg-dark">
            <h2>col 4</h2>
        </div>
        <div class="col-4 bg-dark">
            <h2>col 4</h2>
        </div>
        <div class="col-4 bg-dark">
            <h2>col 4</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-3 bg-dark">
            <h2>col 3</h2>
        </div>
        <div class="col-3 bg-dark">
            <h2>col 3</h2>
        </div>
        <div class="col-3 bg-dark">
            <h2>col 3</h2>
        </div>
        <div class="col-3 bg-dark">
            <h2>col 3</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
        <div class="col-2 bg-dark">
            <h2>col 2</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-8 bg-dark">
            <h2>col 8</h2>

        </div>
        <div class="col-4 bg-dark">
            <h2>col 4</h2>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}