{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="wrapper">
    {{>sidebar}}

    <main id="main-content" class="content" aria-label="content">
        <article class="article">
        </article>
    </main>

    <a href="main-content" class="back-to-top">
        <span class="visuallyhidden">
            Back to top
        </span>
    </a>
</div> <!-- /.wrapper -->
{{/content}}
{{/extend}}