// Basic Card
.card {
  position: relative;
  max-width: 300px;
  display: inline-block;
}

.card__image {

  img {
    max-width: 100%;
    border-radius: $border-rd-sm;
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
}

.card__title {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $padding-md;
  background: rgba($color-black, 0.65);
  margin-bottom: 6px;
  border-radius: 0 0 $border-rd-sm $border-rd-sm;
  text-align: center;

  a {
    color: $color-white;
  }
}