<div class="sidebar">

    <div class="sidebar-inner">
        <header class="header">
            <p class="doc-title visuallyhidden">
                Style Guide
            </p>
            <div class="site-logo"></div>
        </header>

        <nav class="nav" aria-label="Style Guide">
            {{!-- <button type="button" class="nav-btn">
                <span class="visuallyhidden">
                    Navigation Toggle
                </span>
            </button> --}}
            {{!--
            <div class="navbar-mobile-icon">
                <button class="menu-toggle" id="toggle-menu" aria-expanded="false">
                    <span>Menu</span>
                    <svg class="icon icon-menu-toggle" aria-hidden="true" focusable="false" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
                        <g class="svg-menu-toggle">
                            <path class="line line-1" d="M5 13h90v14H5z" />
                            <path class="line line-2" d="M5 43h90v14H5z" />
                            <path class="line line-3" d="M5 73h90v14H5z" />
                        </g>
                    </svg>
                </button>
            </div> --}}
            <ul id="nav-list" class="sidebar-menu">
                <li class="sidebar-menu-item"><a href="./"><span class="sidebar-ref">0</span><span class="sidebar-name">Overview</span></a></li>
                <li class="sidebar-menu-item"><a href="./grid.html"><span class="sidebar-ref">1.</span><span class="sidebar-name">Grid</span></a></li>
                <li class="sidebar-menu-item">
                    <a href="">
                        <span class="sidebar-ref">1.</span>
                        <span class="sidebar-name">Cards</span>
                    </a>
                    <ul class="sidebar-menu-child">
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-basic">
                                <span class="sidebar-ref ">1.1</span>
                                <span class="sidebar-name">Basic Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-basic-grid">
                                <span class="sidebar-ref ">1.2</span>
                                <span class="sidebar-name">Basic Card Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-bio-details">
                                <span class="sidebar-ref ">1.3</span>
                                <span class="sidebar-name">Bio Detail Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-bio-grid">
                                <span class="sidebar-ref ">1.4</span>
                                <span class="sidebar-name">Bio Grid Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-color-overlay">
                                <span class="sidebar-ref ">1.5</span>
                                <span class="sidebar-name">Color Overlay Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-flip-click">
                                <span class="sidebar-ref ">1.6</span>
                                <span class="sidebar-name">Flip Click Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-flip-hover">
                                <span class="sidebar-ref ">1.7</span>
                                <span class="sidebar-name">Flip Hover Card</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-highlight-full">
                                <span class="sidebar-ref ">1.8</span>
                                <span class="sidebar-name">Highlight Card Full</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-highlight-left">
                                <span class="sidebar-ref ">1.9</span>
                                <span class="sidebar-name">Highlight Card Left</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a href="#ref-cards-cards-highlight-right">
                                <span class="sidebar-ref ">1.10</span>
                                <span class="sidebar-name">Highlight Card Right</span>
                            </a>
                        </li>
                    </ul>
                    </li>
                    </ul>
        </nav>

    </div>
    <!-- /.sidebar-inner -->

</div>
<!-- /.sidebar -->